$fondo:darken($blanco,5%);
$fuenteGlobal:'Open Sans', sans-serif;
$fuentePrimaria:'Open Sans', sans-serif;
$fuenteSecundaria:'Open Sans', sans-serif;
$fuenteTitulos:'Open Sans', sans-serif;
$fuenteSubitulos:'Open Sans', sans-serif;
$colorTexto:#3D3D3D;
$colorPrimario:#2CB9FF;
$colorSecundario:darken($colorPrimario,10%);
$rutaImg:'../img';
