section#contenedor
     .hr
     .contenido 
         .contenido__lienzo
            .contenido__lienzo__perfil
                .card
                    .card__header
                        .fondo
                        .avatar
                    .card__content
                        h2 Héctor Peña
                        h4 Frontend Designer
                        .social
                            a(href="https://www.facebook.com/heckctor" target="_blank")
                                i(class="fa fa-facebook-official" aria-hidden="true")
                            a(href="https://www.twitter.com/eckctor" target="_blank")
                                i(class="fa fa-twitter" aria-hidden="true")
                            a(href="https://www.youtube.com/c/HektorPe%C3%B1a" target="_blank")
                                i(class="fa fa-youtube-play" aria-hidden="true")
                            a(href="https://github.com/heckctor" target="_blank")
                                i(class="fa fa-github-alt" aria-hidden="true")
                            a(href="https://www.linkedin.com/in/heckctor/" target="_blank")
                                i(class="fa fa-linkedin" aria-hidden="true")
                        .habilidades
                            h3 habilidades
                                .tags
                                    .tag html5
                                    .tag pug
                                    .tag css3
                                    .tag sass
                                    .tag less
                                    .tag emacss
                                    .tag bem
                                    .tag rdw
                                    .tag js
                                    .tag jquery
                                    .tag gulp
                                    .tag git
                                    .tag wordpress
                                    .tag joomla
                                    .tag prestashop
                                    .tag ui / ux
                                    .tag photoshop
                                    .tag illustrator   
            .contenido__lienzo__portafolio
                h3 Ultimos Trabajos
                .trabajos
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
     .biografia.toggle-bio
         .biografia__contenido
            h3 ¿Quién Soy?
            p Hola, Mi nombre es Héctor Peña soy Diseñador y desarrollador web Frontend, vivo en Aguascalientes México. me especializo en varias áreas del sector web, siguiendo estándares y tecnologías actuales en beneficio del usuario y en pos de una internet  facil y accesible.
            h3 Servicios
            p Diseño de interfaces y experiencia de usuario UX / UI, Diseño web, CMS, plantillas para wordpress y joomla (desde cero en base a diseño personalizado), carritos de compra, landing pages, de .psd/.ai a html/css/wordpress, joomla, etc. 
     .plus
        img(src= assets + images + "plus.png")
     .logotipo    