.bio
  .bio__contenido
    .bio__contenido__avatar
        .foto
            img(src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17022162_1062855787191406_2541811331528922582_n.jpg?oh=0d6f87ecdff103bcd020df7e951bebaf&oe=5927D393")
        h2 Héctor Peña
        h5 Diseño & Desarrollo Frontend
    .bio__contenido__info
        h2 Sobre mi...
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quo earum ratione rem nesciunt totam dolor asperiores, dolore rerum aliquid, tempora pariatur. Tenetur, quis vitae quisquam eos voluptatibus quibusdam repudiandae!
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quo earum ratione rem nesciunt totam dolor asperiores, dolore rerum aliquid, tempora pariatur. Tenetur, quis vitae quisquam eos voluptatibus quibusdam repudiandae!
  .bio__habilidades
    h2 Habilidades
    .habilidad
        h5 HTML5 / PUG
        .barra
           .progreso.html 
    .habilidad
        h5 CSS3 / SASS
        .barra
           .progreso.css 
    .habilidad
        h5 JS / JQUERY
        .barra
           .progreso.js 
    .habilidad
        h5 PHP
        .barra
           .progreso.php 
    .habilidad
        h5 WORDPRESS
        .barra
           .progreso.wp
    .habilidad
        h5 JOOMLA
        .barra
           .progreso.joomla
    .habilidad
        h5 PRESTASHOP
        .barra
           .progreso.prestashop 
    .habilidad
        h5 PHOTOSHOP
        .barra
           .progreso.ps
    .habilidad
        h5 ILLUSTRATOR
        .barra
           .progreso.ai  