h2.centrado Te invito a #[a(href="#portafolio") mi trabajo] y a trabajar juntos en tus proyectos.

.bio
  .bio__contenido
    .bio__contenido__avatar
        div
            .foto
                img(src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/10612800_538444979632492_2152355843760878983_n.jpg?oh=f4b9c4a2e963730d006a8897d43390d6&oe=5924D352")
            h2 Héctor Peña
            h5 Diseño & Desarrollo Frontend
            .social
                a(href="https://www.facebook.com/heckctor" target="_blank")
                    i(class="fa fa-facebook-official" aria-hidden="true")
                a(href="https://www.twitter.com/eckctor" target="_blank")
                    i(class="fa fa-twitter" aria-hidden="true")
                a(href="https://www.youtube.com/c/HektorPe%C3%B1a" target="_blank")
                    i(class="fa fa-youtube-play" aria-hidden="true")
                a(href="https://www.linkedin.com/in/heckctor/" target="_blank")
                    i(class="fa fa-linkedin" aria-hidden="true")
    .bio__contenido__info
        h2 Sobre mi... 
        p Hola, Mi nombre es Héctor Peña soy Diseñador y desarrollador web Frontend, vivo en Aguascalientes México. me especializo en varias áreas del sector web, siguiendo estándares y tecnologías actuales en beneficio del usuario.
        p hago sitios web semánticos con HTML5, JS y CSS3, Manejo de CMS (Wordpress, Joomla, prestashop), también creo plantillas (Themes, templates) a la medida para wordpress y joomla.
  .bio__habilidades
    h2 Habilidades
    .habilidad
        h5 HTML5 / PUG
        .barra
           .progreso.html 
    .habilidad
        h5 CSS3 / SASS
        .barra
           .progreso.css 
    .habilidad
        h5 JS / JQUERY
        .barra
           .progreso.js 
    .habilidad
        h5 PHP
        .barra
           .progreso.php 
    .habilidad
        h5 WORDPRESS
        .barra
           .progreso.wp
    .habilidad
        h5 JOOMLA
        .barra
           .progreso.joomla
    .habilidad
        h5 PRESTASHOP
        .barra
           .progreso.prestashop 
    .habilidad
        h5 PHOTOSHOP
        .barra
           .progreso.ps
    .habilidad
        h5 ILLUSTRATOR
        .barra
           .progreso.ai  