section#contenedor
     .logotipo
     .hr
     .contenido 
         .contenido__lienzo
            .contenido__lienzo__perfil
                .card
                    .card__header
                        .fondo
                        .avatar
                    .card__content
                        h2 Héctor Peña
                        h4 Frontend Designer
                        .social
                            a(href="https://www.facebook.com/heckctor" target="_blank")
                                i(class="fa fa-facebook-official" aria-hidden="true")
                            a(href="https://www.twitter.com/eckctor" target="_blank")
                                i(class="fa fa-twitter" aria-hidden="true")
                            a(href="https://www.youtube.com/c/HektorPe%C3%B1a" target="_blank")
                                i(class="fa fa-youtube-play" aria-hidden="true")
                            a(href="https://github.com/heckctor" target="_blank")
                                i(class="fa fa-github-alt" aria-hidden="true")
                            a(href="https://www.linkedin.com/in/heckctor/" target="_blank")
                                i(class="fa fa-linkedin" aria-hidden="true")
                        .habilidades
                            h3 habilidades
                                .tags
                                    .tag html5
                                    .tag pug
                                    .tag css3
                                    .tag sass
                                    .tag less
                                    .tag emacss
                                    .tag bem
                                    .tag rdw
                                    .tag js
                                    .tag jquery
                                    .tag gulp
                                    .tag git
                                    .tag wordpress
                                    .tag joomla
                                    .tag prestashop
                                    .tag ui / ux
                                    .tag photoshop
                                    .tag illustrator   
            .contenido__lienzo__portafolio
                h3 Ultimos Trabajos
                .trabajos
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")
                        .trabajo
                            img(src="", alt="")