nav.navegacion
    .navegacion__logotipo
      a(href="./")
        img(src= assets + images +  "logotipo.png")
    ul.navegacion__menu
      each val, item in menu
            li
              if selected === item
                a.activo(href=val, title=item)= item
              else
                a(href=val, title=item)= item
.menu-movil
    i(class="fa fa-bars" , aria-hidden="true")