$cssCore: false;
$cssHelpers: false;
$devMode: false;
@import 'componentes/index';

$progreso:#12e5c4;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


body{
    background: url('#{$rutaImg}fondo.jpg') fixed;
    background-size: cover;
    color:$blanco;
    text-shadow: transparentize($negro,.15) 0 0 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    font-weight: normal;
}
a, a:visited{
    color:$blanco;
    font-style: italic;
}
.social{
    margin-top:20px;
    i{
        margin-right: 10px;
        font-size:22px;
    }
}
.centrado{
    text-align: center;
    margin-top:30px;
}
.navegacion{
    margin-top:1em;
    @include edContainer;
    &__logotipo{
        @include edItem(100,15);
    }
    &__menu{
        list-style:none;
        @include edItem(100,85);
        @include from(m){
            display:flex;
        }
        li{
            text-align: center;
            flex:auto;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include transicion;
            a{
                color:$blanco;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover{
                background: transparentize($negro,.5);
                @include transicion;
            }
        }
    }
}
.bio{
    @include edContainer;
    background: transparentize($negro, .5);
    padding: 1em;
    border-radius: 8px;
    margin-top:30px;
    &__contenido{
        @include edContainer;
        @include edItem(100,60);
        &__avatar{
            @include edItem(100,35);
            text-align: center;
            display:flex;
            justify-content: center;
            align-items:center;
            .foto{
                width:180px;
                height: 180px;
                border-radius: 50%;
                overflow: hidden;
                margin: auto;
                margin-bottom:15px;
                border: solid 10px transparentize($negro,.5);
            }
            .social{
                i{
                    @include transicion;
                    &:hover{
                        color:$progreso;
                        @include transicion;
                    }
                }
            }
        }
        &__info{
            @include edItem(100,65);
            line-height: 30px;
        }
    }
    &__habilidades{
        @include edItem(100,40);
        .habilidad{
            margin:10px 0;
            display:flex;
            align-items: center;
            padding: 0 .5em;
            h5{
                width: 140px;
            }
            .barra{
                background: transparentize($negro,.5);
                height: 20px;
                width: 100%;
                display: inline-block;
                position:relative;
                .progreso{
                    background: $progreso;
                    position: absolute;
                    top:0;
                    left:0;
                    height: 20px;
                }
                .html{
                    width: 95%;
                }
                .js{
                    width: 40%;
                }
                .css{
                    width: 95%;
                }
                .php{
                    width: 40%;
                }
                .wp{
                    width: 90%;
                }
                .joomla{
                    width: 90%;
                }
                .prestashop{
                    width: 95%;
                }
                .ps{
                    width: 80%;
                }
                .ai{
                    width: 77%;
                }
            }
        }
    }
}
.menu-movil{
    @include from(m){
        display:none;
    }
}