*,
figure,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}
* {
    &:focus {
        outline: none;
    }
}
h1,h2,h3,h4,h5{
  text-align: center;
}
body,
html {
    height: 100%;
    min-height: 100%;
    font-family: $fuenteGlobal;
    @include fuente(16);
}
body {
    overflow-x: hidden; 
    position: relative;
    height: 100%;
    min-height: 100%;
    color:$colorTexto;
    background: url('#{$rutaImg}/fondo.jpg') $asfalto  no-repeat;
   
}
a {
    color: $colorPrimario;
    text-decoration: none;
}
a:visited {
    color: darken($colorPrimario, 25%);
}
a:active,
a:focus,
a:hover {}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
#contenedor {
    height: 100%;
    min-height: 100%;
    .contenido {
        max-width: 1280px;
        margin: auto;
        min-height: 100%;
        .avatar{
          border-radius:50%;
          background: lighten($asfalto, 5%);
          border:solid 1px lighten($asfalto, 10%);
          box-shadow: 0px 0px 20px transparentize($negro,.7);
          padding:7px;
          width: 180px;
          height: 180px;
          overflow: hidden;
          margin:1em auto;
          display: block;
          img{
            width: 100%;
            border-radius:50%;
            box-shadow: 5px 5px 5px 3px darken($asfalto, 10%);
          }
        }
        .portafolio{
          background: transparentize($concreto,.9);
          max-width:$tablet;
          margin:auto;
          padding: 1em;
          margin-top:1em;
          @include fila($wrap:wrap);
          justify-content: center;
          .trabajo{
            @include columna(4,$padding:0);
            width: 300px;
            min-width: 140px;
            height: 173px;
            min-height:70px;
            overflow: hidden;
            position: relative;
            &:hover{
              &> .descripcion{
                top:0;
                @include transicion($duracion:2s);
              }
              &> img{
                top: -346px;
                 @include transicion($duracion:10s);
              }
            }
            img{
              width: 100%;
              position: absolute;
              top:0;
              display: block;
               @include transicion($duracion:5s);
            }
            .descripcion{
              padding: .5em;
              position: absolute;
              top:180px;
              background:transparentize($negro,.1);
              @include transicion($duracion:1s);
            }
          }
        }
    }
}





